.vscode
*.xlsx
*.zip
*.log
*.json
*.code-workspace
SPI Group/*.txt
SPI Group/*.xls
SPI Group/*.json
BOTTestLoad/
local_folder_test_7/
SAGE/
SPI_virtual/
Work/
SPI Group/Documents/
SPI_Group/OLD/venv/
SPI_Group/OLD/my_env/
SPI_Group/OLD/node_modules/
SPI_Group/OLD/virtual_env/